<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 扫描Dao与Service层 -->
	<context:component-scan base-package="com.zhidi.**.dao,com.zhidi.**.service"/>
	<!-- 引入外部配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 配置数据源c3p0 数据库连接池-->
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		
		<property name="initialPoolSize" value="1"/>	
		<property name="maxPoolSize" value="5"/>
		<property name="minPoolSize" value="1"/>
		<property name="maxConnectionAge" value="28800"/>
		<property name="maxIdleTime" value="21600"/>
	</bean>
	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="datasource"/>
		<!-- 导入mybatis个性化配置 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<!-- 引入mybatis映射文件 -->
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>
	</bean>
	<!-- 配置Dao接口的动态代理对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zhidi.dao"/>
	</bean>
	<!-- 配置mybatis事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据源 (与hibernate不同 ， hibernate需要注入sessionfactory) -->
		<property name="dataSource" ref="datasource"/>
	</bean>
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 新增操作 -->
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<!-- 删除操作 -->
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="remove*" propagation="REQUIRED"/>
			<!-- 修改操作 -->
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="modify*" propagation="REQUIRED"/>
			<tx:method name="change*" propagation="REQUIRED"/>
			<tx:method name="edit*" propagation="REQUIRED"/>
			<!-- 查询操作 -->
			<tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="load*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<!-- aop 定义切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution (* com.zhidi..service.impl.*.*(..))"/>
	</aop:config>
</beans>
